{{#each this}}
<li class="litem">
    <div class="photo-card">
        <img src={{webformatURL}} alt="" />

        <div class="stats">
            <p class="stats-item">
                <i>Like</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i>Views</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i>Comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i>Loading</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}